{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/restaurant/{{ question.id }}/">{{ question.email }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form action="{% url 'restaurant:add_reservation' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Add reservation</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label>name</label>
            <input type="text" name="name" value="">
            <label>email</label>
            <input type="text" name="email" value="">
            <br>
        
    </fieldset>
    <input type="submit" value="add_reservation">
    </form>