/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
* 
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #071e26;
    font-family: Montserrat, sans-serif; 
}

p {
    color: white;
}

/* Nav bar */

.navbar-brand {
    font-size: 40px;
    font-family: Krona+One, sans-serif;
}

 
/* reserve button */
.btnReserve {
    position: absolute;
    top: 400px;
    margin-left: 612px;
    margin-top: 110px;
    color: #FFFAF0;
    background-color:#071e26;
}

.btnReserve:hover {
    background-color: #FFFAF0;
    color: #071e26;
}

/* Scroll up button */
.btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFAF0;
    color: #071e26;
    outline: none;
    cursor: pointer;
    border: none;
}

/* Carousel Images */

.burger {
    align-items: center;
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 92vh;
    display: flex;
    z-index: 50;
  
}

.bar {
    align-items: center;
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 92vh;
    display: flex;
    z-index: 50;
}

.wine {
    align-items: center;
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 92vh;
    display: flex;
    z-index: 50;
}

/* About Section */

.about {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    color: #FFFAF0;
}
h1 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: #FFFAF0;
}

p {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    line-height: 2.5;
}

/* Meet and Greet Section: images */

.head_chef {
    width: 250px;
}

.sous_chef {
    width: 250px;
}

.manager {
    width: 250px;
    height: 372px;
}

#meet {
    padding: 7% 15%;
}

/*  text-align: center;
    padding: 5%; */

.team-image {
    float: left;
    width: 33%;
    padding: 30px;
}

.team-heading {
    font-size: 18px;
    line-height: 1.5;
    font-family: Krona+One, sans-serif;
    color: #FFFAF0;
}

/*image of man dishing up plates */

.food {
    width: 50%;
    padding: 15px;
    margin-left: 25%;
    height: 55vh;
}

/* Location */
#location {
    color: #FFFAF0;
    text-align: center;
    font-size: 30px;
    margin-top: 420px;
}

/* Map */
.div1 
{
/* float: left;
padding: 40px; */
padding-bottom: 200px;
margin-left: 540px;
}


/* Footer */

#footer 
{
    /* position: absolute; */
    height: 100px;
    margin-top: -100px;
    clear: both;
    background-color: #FFCC13;
}

.info {
    float: left;
    padding: 20px;
    color: #071e26;
}

.info2 {
    float: left;
    padding: 20px;
    color: #071e26;
}
.social-networks 
{
    text-align: center;
}

 .social-networks > li 
 {
    display: inline;

 }

 .social-networks i 
 {
    font-size: 160%;
    margin: 1%;
    color: #071e26;
    margin-left: 100px;
 }

.footer-bottom
{
    background-color: #FFCC13;
    color: #071e26;
    width: 100vw;
    padding: 0;
    text-align: center;
}

.footer-bottom p
{
    word-spacing: 2px;
    color: #071e26;
}


/*menu*/
.menu {
    color: #FFFAF0;
    text-align: center;
    line-height: 2.5;
}

.course {
    font-size: 30px;
}

.menu-title {
    font-size: 35px;
    padding: 45px;
}

.allergens {
    padding: 200px;
}